.DoingRN {
  // border: solid black 1px;
  display: flex;
  justify-content: space-around;
  // flex-direction: column;
  // width: 100%;
  // border: solid 1px black;

  h2 {
    flex: 0 0 50%;
    width: 10vw;
    // border: solid black 1px;
    position: sticky;
    top: 20vh; // adjust this to where you want it to stick
    align-self: flex-start; // ensures it aligns at the top of the container
  }
  .textContainer {
    flex: 0 0 50%; /* 0 grow, 0 shrink, 50% basis */
    // border: solid black 1px;
    display: flex;
    flex-direction: column;
    padding: 20vh 2vw 2vh 2vw;
    gap: 8vh;
  }
  p {
    // margin-top: 5vh;
    font-size: 1vw;
  }
}
