@import url("styles/satoshi.css");
@import url("styles/poppins.css");
@import "tailwindcss";

:root {
  --primary: #1e40af;
  --secondary: #9333ea;
  --background: #2f6fb0;
  /* --background: #cbb4b4; */
  --background-loader: #b39595;
  --background-phone: green;
  --text: #ebe6e6;
}

body {
  background: var(--background);
  color: var(--text);
  /* color: var(--foreground); */
  font-family: "Satoshi-Bold", sans-serif;
  /* cursor: wait; */
  /* font-family: Arial, Helvetica, sans-serif; */
}
