.pageContainer {
  display: flex;
  position: relative;

  .content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding-top: 35vh;

    .textSectionContainer {
      display: flex;
      flex-direction: column;
      width: 70vw;
      gap: 30vh;
      padding-bottom: 35vh;
    }

    .textSectionContainerPhone {
      display: flex;
      flex-direction: column;
      width: 70vw;
      gap: 30vh;
      padding-bottom: 35vh;

      h1 {
        font-family: "Satoshi-Bold", sans-serif;
        font-size: 10vw;
      }
    }
  }
}
