.pageContainer {
  display: flex;
  position: relative;

  .navbar {
    display: flex;
    position: sticky;
    height: 100vh;
    width: 15vw;
    top: 0;
    right: 0;
    border: solid 1px black;
    background-color: red;
    opacity: 0.5;
  }
  .content {
    display: flex;
    flex: 1;
    height: 150vh;
    background-color: rgb(192, 255, 193);
  }
  .leftPanel {
    position: sticky;
    display: flex;
    top: 0;
    height: 100vh;
    width: 15vw;
    left: 0;
    border: solid 1px black;
  }
}
